.question-opts-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 3%;
    margin-top: 100px;
}

.question-opts-item,.opt-correct,.opt-false{
    flex: 1 1 calc(40%);
    box-sizing: border-box;
    background-color: rgba(251, 109, 58, 1) !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    text-align: justify !important;
    text-transform: none !important;
    font-size: 20px !important;
}

.Mui-disabled{
    color: white !important;
}

.opt-correct{
    background-color: rgb(0, 239, 0) !important;
}

.opt-false{
    background-color: rgb(255, 0, 0) !important;
}