.question-opts-list{
    display: flex;
    flex-direction: column;
    margin-inline: 30%;
    margin-top: 100px;
    row-gap: 30px;
}

.question-opts-item{
    background-color: rgba(251, 109, 58, 1) !important;
    font-weight: bold !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.opt-correct{
    background-color: rgb(0, 239, 0) !important;
}

.opt-false{
    background-color: rgb(255, 0, 0) !important;
}