.quiz-status-panel{
    display: flex;
    flex-direction: row;
    position:fixed !important;
    left: 0;
    bottom: 0   !important;
    background-color: rgba(22, 0, 61, 0.919);
    width: 100%;
    justify-content: center;
    column-gap: 10%;
}

.quiz-status-panel li{
    background-color: rgb(50, 0, 98);
    box-shadow: 1px 1px 3px rgb(255, 132, 0);
    border-radius: 50px;
    width: 10%;
}