.quiz-header-bg{
    background-image: url('../../../assets/quiz/q_1.png');
    background-repeat: repeat;   
    background-size: cover;
    background-position: -200px -50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.quiz-header-panel-container{
    display: flex;
    flex-direction: column;
    background-color: rgba(26, 0, 71, 0.623);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5)50%,rgba(0, 0, 0, 0.8) 100%);
    
    height: 130px;
}

.quiz-header-panel{
    display: flex;
    flex-direction: row;
    column-gap: 1%;
    align-items: center ;
    padding-inline: 2%;
}

.quiz-header-panel h1{
    font-size: 24px;
    width: 60%;
}

.question-pts{
    background-color: rgba(251, 109, 58, 1);
    color: white;
    border-radius: 20px;
    align-self: center;
    padding-block: 10px;
    padding-inline: 3%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.quiz-header-ques{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgb(188, 188, 188);
    width: 10%;
    text-align: center;
}